.animatedBg {
  --s: 140px;
  --c1: #ff91ae;
  --c2: #ffe2a7;

  --_g:
    #0000 25%,#0002 47%,var(--c1)  53% 147%,var(--c2) 153% 247%,
    var(--c1) 253% 347%,var(--c2) 353% 447%,var(--c1) 453% 547%,#0002 553%,#0000 575%;
  --_s: calc(25%/3) calc(25%/4) at 50%;

  background:
    radial-gradient(var(--_s) 100%,var(--_g)),
    radial-gradient(var(--_s) 100%,var(--_g)) calc(var(--s)/2) calc(3*var(--s)/4),
    radial-gradient(var(--_s) 0   ,var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(var(--_s) 0   ,var(--_g)) 0                calc(3*var(--s)/4),
    repeating-linear-gradient(90deg,#defaef calc(25%/-6) calc(25%/6),#abe3e7 0 calc(25%/2));
  background-size: var(--s) calc(3*var(--s)/2);
  animation: m 2.5s infinite linear;
}

@keyframes m {
  to {
    background-position:
      var(--s) 0,
      calc(var(--s)/-2) calc(3*var(--s)/4),
      calc(3*var(--s)/2) 0,
      calc(-1*var(--s)) calc(3*var(--s)/4),
      0 0;
  }
}

.titleShadow {
  color: #38d765;
  text-shadow: 0 0 3px #32f86e;
  -webkit-text-stroke: 1px #02240c;
}
